.header {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 207, 255, 1) 100%);
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 1fr 1fr;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  
  &__logo {
    padding-left: 1rem;
    padding-right: 0.6rem;
    display: flex;
    justify-content: space-between;
    border: 1px dashed white;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;

    &:hover {
      border: 1px dashed hsl(32, 93%, 54%);

      & > .header__logo-title {
        color: hsl(32, 93%, 54%);
      }
    }
  }

  .header__logo:hover .header__logo-title {
    color: hsl(32, 93%, 54%);
  }

  &__logo-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }

  &__logo-title {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
  }

  &__logo-image {
    height: 6rem;
  }

  &__nav {
    display: grid;
    place-items: center;
  }

  &__nav-list {
    width: 30rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__nav-icon {
    height: 4.5rem;
    padding-bottom: 0.5rem;
  }

  &__nav-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3%;
  }

  &__btn-register {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(32, 93%, 54%);
    outline: none;
    border: 1px solid rgb(200, 147, 30);
    border-radius: 20px;
    color: white;
    width: 18rem;
    height: 4rem;
    cursor: pointer;

    &:hover {
      background-color: hsla(32, 93%, 54%, 0.7);
    }
  }
}
