.header {
  background-color: limegreen;

  &__logo-image {
    height: 4rem;
  }

  &__nav {

  }

  &__nav-list {
    width: 20rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__nav-icon {
    height: 5rem;
  }

  &__nav-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
}
