.card-container {
  margin: 1%;
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  perspective: 25rem;

  &__flipped > .card {
    transform: rotateY(180deg) translateX(-100%);
    transition: all 0.2s;
    transform-origin: left;
  }

  &:hover {
    transform: translateZ(100px);
    transform-style: preserve-3d;
    transition: all 0.2s;
    transform-origin: left;


  }

  &:hover > .card {
    /* transform: rotateY(180deg) translateX(-100%);
     transform-origin: left;*/

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
  }
}

.card {
  position: relative;
  width: 10rem;
  height: 15rem;
  transform-style: preserve-3d;
  transition: all 0.2s;
  transform-origin: right;
  border-radius: 10px;
  box-shadow: 0 0 .25rem black;


  &__front,
  &__back {
    border-radius: inherit;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  &__front {
    background-color: crimson;
    // background-image: url('../../../img/playing-card.jpg');
    background-position: center;
    background-size: cover;
  }

  &__back {
    background-image: url('../../../img/playing-card.jpg');
    transform: rotateY(180deg);
  }
}
