.timer {
  margin-left: 30%;
  max-width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  background: linear-gradient(to top, #b2fefa, #0ed2f7);
  background: -webkit-linear-gradient(to top, #b2fefa, #0ed2f7);
  border-radius: 5px;
  color: hsl(229, 79%, 45%);
}
