.player {
  &__wrapper {
    width: 90%;
    height: var(--player-row-height);
    display: grid;
    grid-template-columns: 0.6fr var(--player-row-height)  6fr 2fr;
    grid-template-rows: calc(var(--player-row-height) / 2) calc(var(--player-row-height) / 2);
    grid-column-gap: calc(var(--player-row-height) / 6);
    grid-template-areas:
    "ps av nm sc"
    "ps av em sc";
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed black;
    flex-grow: 0;

    &:last-child {
      border-bottom: 2px solid black;
    }
  }

  &__position {
    grid-area: ps;
    align-self: center;
    justify-self: flex-start;
    font-size: calc(var(--player-row-height) / 3);
    width: calc(var(--player-row-height) / 2);
    height: calc(var(--player-row-height) / 2);
    border-radius: 50%;
    background-color: #0294d7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

  }

  &__avatar {
    width: auto;
    height: 80%;
    border-radius: 50%;
    grid-area: av;
    align-self: center;
    justify-self: center;
  }

  &__name {
    grid-area: nm;
    font-weight: 500;
    align-self: center;
  }

  &__email {
    grid-area: em;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8em;
    color: #000000a8;
  }

  &__score {
    grid-area: sc;
    align-self: center;
  }

  &__score-value {
    color: darkblue;
    font-weight: 500;
  }
}
