.timer {
  margin-left: 30%;
  max-width: 14rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  height: 5.5rem;
  background: linear-gradient(to top, #b2fefa, #0ed2f7);
  background: -webkit-linear-gradient(to top, #b2fefa, #0ed2f7);
  border-radius: 5px;
  color: #1839cd;
  align-self: center;
  justify-self: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  grid-area: tm;
}
