.circle {
  display: flex;
  width: 15%;
  height: 15%;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50%;
  animation: circle-appearance .6s ease-in-out 1 forwards, set-overflow .1s 1.1s forwards;
  position: absolute;
  top: 4%;
  left: 6%;
}

/* ------------------circle sign --------------------------------------*/
.circle__sign {
  position: relative;
  opacity: 0;
  background: #fff;
  animation-duration: .7s;
  animation-delay: .1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.circle__sign::before,
.circle__sign::after {
  content: "";
  position: absolute;
  background: inherit;
}

/* ------------------ sign success -----------------------------------*/

.circle__sign--success {
  background: rgb(56, 176, 131);
}

.circle__sign--success .circle__sign {
  width: 10%;
  height: 60%;
  border-radius: 50% 50% 50% 0 / 10%;
  transform: translateX(130%) translateY(35%) rotate(45deg) scale(.11);
  animation-name: success-sign-appearance;
}

.circle__sign--success .circle__sign::before {
  bottom: -17%;
  width: 100%;
  height: 50%;
  transform: translateX(-130%) rotate(90deg);
  border-radius: 50% 50% 50% 50% / 20%;

}

/* ------------------ sign fail ---------------------------------------*/

.circle__sign--fail {
  background: rgb(236, 78, 75);
}

.circle__sign--fail .circle__sign {
  width: 9.52%;
  height: 66.6%;
  transform: translateY(25%) rotate(45deg) scale(.1);
  border-radius: 50% 50% 50% 50% / 10%;
  animation-name: fail-sign-appearance;
}

.circle__sign--fail .circle__sign::before {
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%) rotate(90deg);
  border-radius: inherit;
}

@keyframes circle-appearance {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes fail-sign-appearance {
  50% {
    opacity: 1;
    transform: translateY(25%) rotate(45deg) scale(1.2);
  }

  100% {
    opacity: 1;
    transform: translateY(25%) rotate(45deg) scale(1);
  }
}

@keyframes success-sign-appearance {
  50% {
    opacity: 1;
    transform: translateX(130%) translateY(35%) rotate(45deg) scale(1.5);
  }

  100% {
    opacity: 1;
    transform: translateX(130%) translateY(35%) rotate(45deg) scale(1);
  }
}


@keyframes set-overflow {
  to {
    overflow: hidden;
  }
}

