body {

  background-color: darkcyan;
  color: white;
  height: 100vh;
}

main {
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}




