@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap');

.settings {
  &__wrapper {
    width: 100%;
    height: calc(100vh - 74px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

  &__page {
    width: 100%;
    max-width: 60rem;
    height: 97%;
    background-image: linear-gradient(200deg, #20bf558c 0%, #01baef87 74%);
    border-radius: 20px;
    display: grid;
    justify-items: center;
    grid-template-rows: 17% 15% 1fr;
  }

  &__title-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid hsl(228, 91%, 22%);

  }

  &__title {
    font-size: 5vh;
    margin-top: 2rem;
    margin-left: 2rem;
    color: hsl(228, 91%, 22%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  &__icon {
    width: 6vh;
    height: 6vh;
    background-image: url('../../../assets/img/settings.png');
    transform: rotate(-135deg);
    background-size: cover;
  }

  &__field-size-option {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    height: 4vh;
  }

  &__field-size-title {
    font-size: 4vh;
    color: hsl(228, 91%, 22%);
    font-weight: 500;
  }
}

.card-size__item {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 500;


  font-style: italic;
  color: hsl(228, 91%, 22%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-category-item {
  background-size: cover;
}

.image-category-title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
